* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-rendering: optimizeSpeed;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	background: #fbfbfb;
}
.header-top {
	background: #fff;
	height: 25px;
}
.header-top-left {
	float: left;
	overflow: hidden;
}
.header-top-left a {
	font-size: 10px;
	color: #2b2b2b;
	font-family: 'Open Sans', sans-serif;
	pointer-events: none;
}
.header-top-right {
	float: right;
	overflow: hidden;
}
.header-top-right a {
	font-size: 10px;
	color: #2b2b2b;
	margin: 0 2px;
	font-family: 'Open Sans', sans-serif;
}
.header-top-right a:hover {
	color: #1425a2;
}
.header-top-right > .text {
	color: #2b2b2b;
	pointer-events: none;
	margin-right: 10px;
	font-family: 'Lato', sans-serif;
	font-size: 10px;
	letter-spacing: .5px;
}
.header-top-right > .text span {
	margin-left: 8px;
	font-size: 8px;
}
.header-top-rt_bar::after {
	content: " |";
	margin-left: 5px;
	color: #737373;
}




.header {
	background: #fff;
	height: 55px;
	position: relative;
}
.phn-logo {
	float: left;
	overflow: hidden;
	line-height: 48px;
}
.phn-logo a {
	color: #2b2b2b;
}
.phn-logo a > #logo_icon {
	color: #1975F1;
	margin: 0 2px;
	font-size: 18px;
	margin-bottom: 5px;
}
.phn-logo a > #logo_name {
	font-family: PHN_Logo;
	font-size: 32px;
	letter-spacing: 1px;
}

.phn-search {
	float: none;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

}
.phn-search input {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
}
.phn-search input[type="text"] {
	background: #ececec;
	width: 410px;
	height: 34px;
	border: none;
	outline: none;
	color: #666;
	border-radius: 3px 0 0 3px;
	padding: 8px 10px;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
}
.phn-search select {
	position: relative;
	border: none;
	outline: none;
	left: -3px;
	background: #d6d6d6;
	font-size: 14px;
	padding: 7px 10px;
	margin: -2px;
	color: #4a4a4a;
	border-right: 6px solid #d6d6d6;
	font-family: 'Source Sans Pro', sans-serif;
	cursor: pointer;
}
.phn-search input[type="submit"] {
	position: relative;
	width: 80px;
	height: 34px;
	padding: 8px 10px 10px;
	border: none;
	outline: none;
	background: #5e5e5e;
	border-radius: 0 3px 3px 0;
	left: -5px;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
}

.phn-login-signup {
	float: right;
	overflow: hidden;
	line-height: 54px;
}
.phn-login-signup a {
	color: #333;
	font-size: 13px;
	font-weight: bold;
	background: rgba(255,193,7,1);
	border-radius: 3px;
	padding: 7px 8px;
	font-family: 'Source Sans Pro', sans-serif;
}
.phn-login-signup a:hover {
	background: rgba(232,174,0,1);
}



.phn-menu {
	background: #292929;
	box-shadow: 0 1px #eaeaea;
}
.phn-menu ul {
	list-style: none;
	display: flex;
}
.phn-menu ul li {}
.phn-menu ul li a {
	padding: 12px 10px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fbfbfb;
	display: block;
	font-size: 13px;
	font-weight: 600;
	transition: background .6s;
}
.phn-menu ul li a:hover {
	background: #424242;
}
/**
	>>>>>>>>>>>>
		### General or Common Css Start ###
	<<<<<<<<<<<<
**/
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
img {
	width: 100%;
	height: auto;
}
ul {
	list-style: none;
}
.phn-box {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.font_1 {
	font-family: 'PT Sans', sans-serif;
}
.font_2 {
	font-family: 'Raleway', sans-serif;
}
.font_3 {
	font-family: 'Source Sans Pro', sans-serif;
}
.font_4 {
	font-family: 'Lato', sans-serif;
}
.font_5 {
	font-family: 'Open Sans', sans-serif;
}
.font_6 {
	font-family: 'Oswald', sans-serif;
}
.font_7 {
	font-family: 'Roboto', sans-serif;
}
@font-face {
	font-family: PHN_Logo;
	src: url(../fonts/phn-logo.ttf);
}
/**
	>>>>>>>>>>>>
		### General or Common Css End ###
	<<<<<<<<<<<<
**/